RewriteEngine On

RewriteRule ^\.htaccess$ - [F]
RewriteRule ^\LICENSE$ - [F]
RewriteRule ^\README.md$ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* /index.php
