@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@font-face {
	font-family: 'Lichess';
	src: url( './../fonts/Lichess.woff' ) format( 'woff' );
}

@font-face {
	font-family: 'Lichess Chess';
	src: url( './../fonts/LichessChess.woff' ) format( 'woff' );
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: var( --text-color );
    background: var( --site-bg );
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

a {
    text-decoration: none;
    color: var( --hl-color );
}

i {
    font-style: normal;
}

[data-icon]::before {
    content: attr( data-icon );
    font-family: 'Lichess';
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc( 100vh - 30px );
    padding: 0 10px;
    display: grid;
    grid-template-columns: calc( 100vh - 80px ) auto;
    grid-template-rows: auto;
    grid-template-areas: 'main aside';
    column-gap: 8px;
}

.main {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.main .board {
    flex: 0 0 auto;
    order: 2;
    width: calc( 100vh - 80px );
    pointer-events: none;
}

.main .player {
    flex: 0 0 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main .player.top {
    order: 1;
}

.main .player.bottom {
    order: 3;
}

.main .player .score {
    width: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var( --bg-color );
}

.main .player .name .title {
    padding-right: 4px;
    font-weight: bold;
    opacity: 0.6;
}

.main .player .rating {
    padding-left: 10px;
}

.main .player .rating .diff {
    padding-left: 4px;
    font-size: 11px;
}

.main .player .rating .diff::before {
    padding-right: 1px;
    font-family: 'Lichess';
    font-size: 9px;
}

.main .player .rating .diff.good::before {
    content: 'N';
    color: var( --good-color );
}

.main .player .rating .diff.bad::before {
    content: 'M';
    color: var( --bad-color );
}

.aside {
    grid-area: aside;
    padding: 25px 0;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.aside history {
    position: relative;
    background: var( --light-gray );
    box-shadow: var( --box-shadow );
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.aside history::-webkit-scrollbar {
    display: none;
}

.aside history moves {
    display: flex;
    flex-flow: row wrap;
}

.aside history.inline moves {
    padding: 10px;
    font-size: 14px;
}

.aside history:not(.inline) moves * {
    line-height: 1.8rem;
    font-size: 15px;
}

.aside history.inline moves * {
    margin: 0 1px 1px 0;
    padding: 2px 5px;
    border-radius: 2px;
}

.aside history:not(.inline) moves idx {
    flex: 0 0 14%;
    text-align: center;
    background: var( --midd-gray );
    border-right: 1px solid var( --border-color );
}

.aside history.inline moves idx {
    display: none;
}

.aside history moves move {
    font-family: 'Lichess Chess', 'Noto Sans', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: color 250ms, background 250ms;
}

.aside history moves move.active {
    color: var( --light-gray );
    background: var( --dark-gray );
}

.aside history moves move:not(.active):hover {
    background: var( --midd-gray );
}

.aside history:not(.inline) moves move {
    flex: 0 0 43%;
    padding: 0 6px;
}

.aside history.inline moves move {
    font-weight: bold;
}

.aside history.inline moves move[data-co="w"]::before {
    content: attr( data-no ) '.';
    margin-right: 6px;
    font-size: 14px;
    font-weight: normal;
}

.aside history .result {
    display: block;
    border-top: 1px solid var( --border-color );
    padding: 14px 0;
    text-align: center;
    font-size: 14px;
}

.aside history .result .score {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.aside .controls {
    display: flex;
    flex-flow: row nowrap;
}

.aside .controls button {
    flex: 1;
    padding: 8px 0 4px 0;
    font-size: 16px;
    color: var( --text-color );
    background: transparent;
    border: 0;
    outline: 0 none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: color 250ms, background 250ms;
}

.aside .controls button:disabled {
    opacity: 0.4;
}

.aside .controls button:not(:disabled):hover {
    background: var( --border-color );
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var( --light-gray );
    border-top: 1px solid var( --border-color );
}

footer .credits {
    white-space: nowrap;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer .donate a {
    font-size: 18px;
    color: var( --bad-color );
}

/* empty */

.empty {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    max-width: 75vw;
    text-align: center;
}

.empty h1 {
    margin: 0;
    font-size: 26px;
}

.empty p {
    margin: 18px 0;
}

.empty form {
    padding: 10px 0 0 0;
}

.empty form * {
    border-radius: 2px;
    box-shadow: var( --box-shadow );
    outline: 0 none;
}

.empty form textarea {
    width: 65%;
    height: 100px;
    padding: 0.5em 0.6em;
    background: var( --light-gray );
    border: 1px solid var( --border-color );
    resize: vertical;
}

.empty form button {
    display: block;
    margin: 10px auto;
    padding: 0.6em 0.9em;
    text-transform: uppercase;
    font-size: 14px;
    color: var( --light-gray );
    background: var( --hl-color );
    border: 0;
    cursor: pointer;
}

.empty form button:hover {
    filter: brightness( 1.2 );
}

.empty a.donate {
    font-size: 26px;
    color: var( --bad-color );
}
